body {
  overflow: hidden; /* Hide scrollbars */
}

.bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  /* width: 100vw; */
  width: 95vw;
  height: 7rem;
  margin-left: 2.3rem;
  align-items: center;
  /* background-color: red; */
}

.words {
  position: fixed;
  margin-top: 9rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.content {
  margin-left: 45rem;
}

.Buttons {
  margin-top: -.2rem;
  padding-top: 1rem;
  width: 31rem;
  display: flex;
  justify-content: space-between;
}

.but {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #26344F;
  width: 9rem;
  height:  3.5rem;
  border-Radius: .5rem;
  border: #26344F solid 2px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.but:active {
  transform: translateY(4px);
}

.but:hover {
  filter: brightness(85%);
}

.contact {
  display: flex;
  flex-direction: column;
  color: #26344F;
}

.Bottom {
  background-color: red;
  height: 35vh;
  background-image: linear-gradient(to right, #26344F, white);
}